//vendor files
@import "normalize";
@import "screen";
@charset "UTF-8";

//device specific styles
@media screen and (max-width:960px) {
    
}

@media only screen and (max-width: 959px) and (min-width: 768px) {

}

@media screen and (max-width:768px) {

	.lib-form .multi-row, .lib-form .stacked { width: 100%; }

  .menu-btn {
  	display: inline-block;
  }
  .menu-links { 
  	display: none; 
  }

	footer {
		text-align: center;
	}
}

@media screen and (max-width:500px) {

  h1 {font-size: 1.5em;}
  
 .intro {
   h1 {
   	font-size: 40px;
   }

  span {
    font-size: 30px;
   }
 }

}