<!-- Info view -->		
		<div id="heading" class="interior">
			<div id="interior-content">
				<h1>Info for Faculty</h1>
			</div>
		</div>
<!-- START CONTENT -->
		<section>
			<div class="box">
				<div class="box-content">
					<h2>Please read carefully</h2>
					<p>
					Please submit your requests at least one week before the date that they are needed. Protective jinxes may need to be removed from certain books. Items in storage will need to be delivered by owl. All materials will be removed from the reserved list at the end of the semester, unless a new Reserve Request form is submitted.
					</p>
					<p>
					Contact Irma Pince with any Course Reserves questions:<br/>
					<strong>Irma Pince, Head Librarian</strong><br/>
					pinceirma@hogwarts.ac.uk
					</p>
					


				</div>
				<aside>
				<img src="assets/images/irma-pince.png" alt="Irma Pince">
				<p>
					Irma Pince, Head Librarian
				</p>
				</aside>
			</div>
		</section>
<!-- END CONTENT -->
