
<div class="box">

<!-- Search for a star...
<input type="text" ng-model="starFilter" placeholder="Search..."/> -->
<!-- <table>
    <thead>
      <tr>
      <th>Label & ID</th>
      <th>Luminosity</th>
      <th>Color</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="star in starsList | filter: starFilter">
        <td>
          {{star.label}}&nbsp;{{star.id}}
        </td>
        <td>{{star.lum}}</td>
        <td>{{star.colorb_v}}</td>
      </tr>
    </tbody>
  </table> -->
  <header>
    <h1>Star Color</h1>
    <button><span class="icon-large icon-info"></span>INFO</button>
  </header>

  <div class="dv">
    <div id="star">
      <svg ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}">

        <filter id="blur">
          <feGaussianBlur in="SourceGraphic" stdDeviation="15" />
        </filter>

        <g ng-attr-fill="rgb({{red}},{{green}},{{blue}})">
          <circle 
              ng-attr-cx="{{circle.x}}" 
              ng-attr-cy="{{circle.y}}" 
              ng-attr-r="{{circle.r}}">
          </circle>
          <circle 
              filter="url(#blur)"
              ng-attr-cx="{{circle.x}}" 
              ng-attr-cy="{{circle.y}}" 
              ng-attr-r="{{circle.r}}">
          </circle>
        </g>
      </svg>
    </div>
    <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options">
    </rzslider>
  </div>
  <div class="dv-description">
    <label for="color-index">Select an index</label>
    <select>
      <option>BV Color Index</option>
      <option>Option 2</option>
      <option>Option 3</option>
      <option>Option 4</option>
    </select>
    <h2>BV Color Index</h2>
    <p>
    Gingerbread wafer gingerbread tootsie roll cookie cake cheesecake. Halvah bear claw sweet cheesecake. Gummies marshmallow sweet. Chocolate candy soufflé. Sweet roll jelly-o bear claw. Pastry tiramisu macaroon. Soufflé bear claw brownie dragée. Macaroon cookie sweet roll. Croissant icing topping cake sugar plum.
    </p>
  </div>

</div>